<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addDate</title>
</head>

<body>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>Language Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Date
                    </td>
                    <td>
                        <input id="date" type="text" value="<%=Date.date%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Abap
                    </td>
                    <td>
                        <input id="abap" type="text" value="<%=Date.abap%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ada
                    </td>
                    <td>
                        <input id="ada" type="text" value="<%=Date.ada%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        C#
                    </td>
                    <td>
                        <input id="c_sharp" type="text" value="<%=Date.c_sharp%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        C/C++
                    </td>
                    <td>
                        <input id="corcplusplus" type="text" value="<%=Date.corcplusplus%>">
                    </td>
                </tr>
                <tr>
                    <td>Cobol</td>
                    <td>
                        <input id="cobol" type="text" value="<%=Date.cobol%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Dart
                    </td>
                    <td>
                        <input id="dart" type="text" value="<%=Date.dart%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Delphi
                    </td>
                    <td>
                        <input id="delphi" type="text" value="<%=Date.delphi%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Go
                    </td>
                    <td>
                        <input id="go" type="text" value="<%=Date.go%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Groovy
                    </td>
                    <td>
                        <input id="groovy" type="text" value="<%=Date.groovy%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Haskell
                    </td>
                    <td>
                        <input id="haskell" type="text" value="<%=Date.haskell%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Java
                    </td>
                    <td>
                        <input id="java" type="text" value="<%=Date.java%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        JavaScript
                    </td>
                    <td>
                        <input id="javascript"  type="text" value="<%=Date.javascript%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Julia
                    </td>
                    <td>
                        <input id="julia" type="text" value="<%=Date.julia%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Kotlin
                    </td>
                    <td>
                        <input id="kotlin" type="text" value="<%=Date.kotlin%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Lua
                    </td>
                    <td>
                        <input id="lua" type="text" value="<%=Date.lua%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Matlab
                    </td>
                    <td>
                        <input id="matlab" type="text" value="<%=Date.matlab%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Objective-C
                    </td>
                    <td>
                        <input id="objective_c" type="text" value="<%=Date.objective_c%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Perl
                    </td>
                    <td>
                        <input id="perl" type="text" value="<%=Date.perl%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        PHP
                    </td>
                    <td>
                        <input id="php" type="text" value="<%=Date.php%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Python
                    </td>
                    <td>
                        <input id="python" type="text" value="<%=Date.python%>">
                </tr>
                <tr>
                    <td>
                        R
                    </td>
                    <td>
                        <input id="r" type="text" value="<%=Date.r%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ruby
                    </td>
                    <td>
                        <input id="ruby" type="text" value="<%=Date.ruby%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Rust
                    </td>
                    <td>
                        <input id="rust" type="text" value="<%=Date.rust%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Scala
                    </td>
                    <td>
                        <input id="scala" type="text" value="<%=Date.scala%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Swift
                    </td>
                    <td>
                        <input id="swift" type="text" value="<%=Date.swift%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        TypeScript
                    </td>
                    <td>
                        <input id="typescript" type="text" value="<%=Date.typescript%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        VBA
                    </td>
                    <td>
                        <input id="vba" type="text" value="<%=Date.vba%>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Visual Basic
                    </td>
                    <td>
                        <input id="visual_basic" type="text" value="<%=Date.visual_basic%>">
                    </td>
                </tr>
                <tr>
                    <td><input type="button" onclick="redirectCreate()" value="create"></td>
                    <td><input type="button" onclick="redirectUpdate()" value="update"></td>
                </tr>
            </tbody>
        </table>        
    </form>
    <script>
        function redirectCreate(){
        indate = document.getElementById("date").value;
        inabap = document.getElementById("abap").value;
        inada = document.getElementById("ada").value;
        inc_sharp = document.getElementById("c_sharp").value;
        incorcplusplus = document.getElementById("corcplusplus").value;
        incobol = document.getElementById("cobol").value;
        indart = document.getElementById("dart").value;
        indelphi = document.getElementById("delphi").value;
        ingo=document.getElementById("go").value;
        ingroovy = document.getElementById("groovy").value;
        inhaskell = document.getElementById("haskell").value;
        injava = document.getElementById("java").value;
        injavascript = document.getElementById("javascript").value;
        injulia = document.getElementById("julia").value;
        inkotlin = document.getElementById("kotlin").value;
        inlua = document.getElementById("lua").value;
        inmatlab = document.getElementById("matlab").value;
        inobjective_c = document.getElementById("objective_c").value;
        inperl = document.getElementById("perl").value;
        inphp = document.getElementById("php").value;
        inpython = document.getElementById("python").value;
        inr = document.getElementById("r").value;
        inruby= document.getElementById("ruby").value;
        inrust= document.getElementById("rust").value;
        inscala=document.getElementById("scala").value;
        inswift=document.getElementById("swift").value;
        intypescript=document.getElementById("typescript").value;
        invba=document.getElementById("vba").value;
        invisual_basic = document.getElementById("visual_basic").value;
        window.location.href = "/controlDate/add/"+indate+"/"+inabap+"/"+inada+"/"+inc_sharp+"/"+incorcplusplus+"/"+incobol+"/"+indart+"/"+indelphi+"/"+ingo+"/"+ingroovy+"/"+inhaskell+"/"+injava+"/"+injavascript+"/"+injulia+"/"+inkotlin+"/"+inlua+"/"+inmatlab+"/"+inobjective_c+"/"+inperl+"/"+inphp+"/"+inpython+"/"+inr+"/"+inruby+"/"+inrust+"/"+inscala+"/"+inswift+"/"+intypescript+"/"+invba+"/"+invisual_basic;
        }

        function redirectUpdate(){
        indate = document.getElementById("date").value;
        inabap = document.getElementById("abap").value;
        inada = document.getElementById("ada").value;
        inc_sharp = document.getElementById("c_sharp").value;
        incorcplusplus = document.getElementById("corcplusplus").value;
        incobol = document.getElementById("cobol").value;
        indart = document.getElementById("dart").value;
        indelphi = document.getElementById("delphi").value;
        ingo=document.getElementById("go").value;
        ingroovy = document.getElementById("groovy").value;
        inhaskell = document.getElementById("haskell").value;
        injava = document.getElementById("java").value;
        injavascript = document.getElementById("javascript").value;
        injulia = document.getElementById("julia").value;
        inkotlin = document.getElementById("kotlin").value;
        inlua = document.getElementById("lua").value;
        inmatlab = document.getElementById("matlab").value;
        inobjective_c = document.getElementById("objective_c").value;
        inperl = document.getElementById("perl").value;
        inphp = document.getElementById("php").value;
        inpython = document.getElementById("python").value;
        inr = document.getElementById("r").value;
        inruby= document.getElementById("ruby").value;
        inrust= document.getElementById("rust").value;
        inscala=document.getElementById("scala").value;
        inswift=document.getElementById("swift").value;
        intypescript=document.getElementById("typescript").value;
        invba=document.getElementById("vba").value;
        invisual_basic = document.getElementById("visual_basic").value;
        window.location.href = "/controlDate/update/"+indate+"/"+inabap+"/"+inada+"/"+inc_sharp+"/"+incorcplusplus+"/"+incobol+"/"+indart+"/"+indelphi+"/"+ingo+"/"+ingroovy+"/"+inhaskell+"/"+injava+"/"+injavascript+"/"+injulia+"/"+inkotlin+"/"+inlua+"/"+inmatlab+"/"+inobjective_c+"/"+inperl+"/"+inphp+"/"+inpython+"/"+inr+"/"+inruby+"/"+inrust+"/"+inscala+"/"+inswift+"/"+intypescript+"/"+invba+"/"+invisual_basic;
        }
    </script>
</body>

</html>