<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date</title>
</head>
<body>
<div class="lang-table">
    <table>
        <thead>
            <tr>
                <th>Language Name</th>
                <th>Value</th>
            </tr>
            <% langs.forEach(lang = >) { %> 
                <tr>
                    <td><%= lang."Abap" %></td>
                    <td><%= lang."Ada" %></td>
                    <td><%= lang."C#" %></td>
                    <td><%= lang."C/C#" %></td>
                    <td><%= lang."Cobol" %></td>
                    <td><%= lang."Dart" %></td>
                    <td><%= lang."Delphi" %></td>
                    <td><%= lang."Go" %></td>
                    <td><%= lang."Groovy" %></td>
                    <td><%= lang."Haskell" %></td>
                    <td><%= lang."Java" %></td>
                    <td><%= lang."Javascript" %></td>
                    <td><%= lang."Julia"%></td>
                    <td><%= lang."Kotlin" %></td>
                    <td><%= lang."Lua" %></td>
                    <td><%= lang."Matlab" %></td>
                    <td><%= lang."Objective-C" %></td>
                    <td><%= lang."Perl" %></td>
                    <td><%= lang."PHP" %></td>
                    <td><%= lang."Python" %></td>
                    <td><%= lang."R" %></td>
                    <td><%= lang."Ruby" %></td>
                    <td><%= lang."Rust" %></td>
                    <td><%= lang."Scala" %></td>
                    <td><%= lang."Swift" %></td>
                    <td><%= lang."TypeScript" %></td>                         "VBA": Number,
                    <td><%= lang."VisualBasic"%></td>
                </tr>
        </thead>
    </table>
</div>
</body>