<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="/views/common/style.css">
</head>

<body>
    <div class="lang-table">
        <table>
            <thead>
                <tr>
                    <th>Language Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <% langs.forEach(lang=> { %>
                    <tr><a href="langs/delete/<%=lang._id%>">Delete Record</a></tr>
                    <tr>
                        <td>
                            Abap
                        </td>
                        <td>
                            <%= lang.Abap %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ada
                        </td>
                        <td>
                            <%= lang.Ada %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C#
                        </td>
                        <td>
                            <%= lang.C_Sharp %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C/C++
                        </td>
                        <td>
                            <%= lang.CorCPlusPlus %>
                        </td>
                    </tr>
                    <tr>
                        <td>Cobol</td>
                        <td>
                            <%= lang.Cobol %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dart
                        </td>
                        <td>
                            <%= lang.Dart %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Delphi
                        </td>
                        <td>
                            <%= lang.Delphi %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Go
                        </td>
                        <td>
                            <%= lang.Go %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Groovy
                        </td>
                        <td>
                            <%= lang.Groovy %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Haskell
                        </td>
                        <td>
                            <%= lang.Haskell %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Java
                        </td>
                        <td>
                            <%= lang.Java %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JavaScript
                        </td>
                        <td>
                            <%= lang.Javascript %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Julia
                        </td>
                        <td>
                            <%= lang.Julia %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kotlin
                        </td>
                        <td>
                            <%= lang.Kotlin %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lua
                        </td>
                        <td>
                            <%= lang.Lua %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Matlab
                        </td>
                        <td>
                            <%= lang.Matlab %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Objective-C
                        </td>
                        <td>
                            <%= lang.Objective_C %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Perl
                        </td>
                        <td>
                            <%= lang.Perl %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP
                        </td>
                        <td>
                            <%= lang.PHP %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Python
                        </td>
                        <td>
                            <%= lang.Python %>
                    </tr>
                    <tr>
                        <td>
                            R
                        </td>
                        <td>
                            <%= lang.R %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ruby
                        </td>
                        <td>
                            <%= lang.Ruby %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rust
                        </td>
                        <td>
                            <%= lang.Rust %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Scala
                        </td>
                        <td>
                            <%= lang.Scala %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Swift
                        </td>
                        <td>
                            <%= lang.Swift %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TypeScript
                        </td>
                        <td>
                            <%= lang.TypeScript %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Visual Basic
                        </td>
                        <td>
                            <%= lang.Visual_Basic %>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="langGraphDiv">
        <canvas id="langDoughnut" width="400" height="400"></canvas>
    </div>
    <script>
        var dataSTR = [<%=lang.Abap %>, <%=lang.Ada %>, <%=lang.C_Sharp %>, <%=lang.Cobol %>, <%=lang.CorCPlusPlus %>,  <%=lang.Dart %>, <%=lang.Delphi %>, <%=lang.Go %>, <%=lang.Groovy %>, <%=lang.Haskell %>, <%=lang.Java %>, <%=lang.Javascript %>, <%=lang.Julia %>, <%=lang.Kotlin %>, <%=lang.Lua %>, <%=lang.Matlab %>, <%=lang.Objective_C %>, <%=lang.Perl %>, <%=lang.PHP %>, <%=lang.Python %>, <%=lang.R %>, <%=lang.Ruby %>, <%=lang.Rust %>, <%=lang.Scala %>, <%=lang.Swift %>, <%=lang.TypeScript %>, <%=lang.VBA %>, <%=lang.Visual_Basic %>];
        console.log(dataSTR + ' JS Input');
        //The DB should contain Number Obejcts but I want to reparse them anyway
        var data = [];
        var colors = [];
        dataSTR.forEach(x => {
            data.push(parseFloat(x));
            //generate random Hexadecimal RGB value
            var color = "#" + Math.random().toString(16).slice(2, 8);
            colors.push(color);
        });
        //logging arrays
        console.log(colors);
        console.log(data);
        var ctx = document.getElementById("langDoughnut").getContext('2d');
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Abap', 'Ada', 'C#', 'Cobol', 'C/C++', 'Dart', 'Delphi', 'Go', 'Groovy', 'Haskell', 'Java', 'Javascript', 'Julia', 'Kotlin', 'Lua', 'Matlab', 'Objective-C', 'Perl', 'PHP', 'Python', 'R', 'Ruby', 'Rust', 'Scala', 'Swift', 'TypeScript', 'VBA', 'Visual Basic'],
                datasets: [{
                    label: "langDatePie",
                    backgroundColor: colors,
                    data: data
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 30,
                    text: "Languages Tutorial",
                },
                cutoutPercentage: 50
                //cutoutPercentage: 99
            }
        });
    </script>
    <% }); %>
</body>